body{
text-align: center;
    background-color:skyblue;
}

img {
    width:20%;
        height:20%
                     
}
.menu{
 list-style:none;
position:fixed;
    top:10px;
    right:30px;
    cursor:pointer;
    z-index:10;      
}

.links{
    float:left;
    color:fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
        
    font-family:fantasy;
    font-size: 20px;
        
}

.links:hover{
    
    background-color: cyan;
    
    
    
    
    
}

img:hover{
    
    transform: scale(0.9);
    
}

#contact{
    background:firebrick;
}

